::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1a1b1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1b1e;
}

.sliding-pane-left {
  background-color: transparent;
  overflow: hidden;
}

.sliding-pane-right {
  background-color: transparent;
  overflow: hidden;
}